<div class="row mt-3">
  {{#each products}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/products/{{this.id}}">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="Card image cap" width="286px" height="180px"
            style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        </a>
        <div class="card-body">
          <p class="card-text">
            <a href="/products/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          <span class="badge bg-secondary">{{this.brand}}</span>
          <p class="card-text text-truncate">price: ${{this.price}}</p>
          <p class="card-text text-truncate">{{this.description}}</p>
          <div class="d-flex">
            {{#if isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger m-1">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-primary m-1">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<nav class="mt-3" aria-label="page navigation">
  <ul class="pagination flex-wrap">
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/products?page={{pagination.first}}" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
      <a class="page-link" href="/products?page={{pagination.prev}}" aria-label="Previous">
        <span aria-hidden="true">&lsaquo;</span>
      </a>
    </li>
    {{#each pagination.pages}}
      {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="/products?page={{this}}">{{this}}</a>
        </li>
      {{/ifCond}}
    {{/each}}
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/products?page={{pagination.next}}" aria-label="Next">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
    <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
      <a class="page-link" href="/products?page={{pagination.last}}" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>